*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

table{
    margin: 5vw;
}

td{
    border-left: 2px solid lightgray;
    padding: 5px 20px;
}
td:first-child{
    border-left:3px solid green;
}

tr:nth-child(odd) td:nth-child(1){
    border-left: 3px solid red;
}